@page "/about"

<h2 class="font-weight-light border-bottom">ABOUT</h2>

<blockquote>
    <h3>
        A multi-skilled and experienced Software Developer with an extensive track record of developing and maintaining high-quality software solutions
    </h3>
</blockquote>


<p class="h4">Possess @GetYears+ years of experience working as a software developer in large and small organizations arcross a range of industry sectors,
    including insurance, public sector, consulting, cyber security and travel agency. </p>

<p class="h4">Furthermore i've got extensive experience of developing 
    software products through the full software development and test life cycles. </p>

<p class="h4">Core technical skills include C#, SQL, Windows/Web development, plus Xamarin, and eperienced with working both Agile and Waterfall development environments.</p>

@code {

    public int GetYears = Convert.ToInt32(Math.Round((DateTime.Now - new DateTime(2014, 1, 30)).TotalDays / 365));
}

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
