@page "/contact"

<h2 class="font-weight-light border-bottom">CONTACT</h2>

<blockquote>
    <div class="font-weight-light h6">
        <div class="fa fa-envelope" />
        <a href="mailto:batiridismaxim@outlook.com">batiridismaxim@outlook.com</a>
    </div>
</blockquote>

<blockquote>
    <div class="font-weight-light h6">
        <i class="fab fa-github"></i>
        <a href="https://github.com/bmaximus">Maxim Batiridis</a>
    </div>
</blockquote>

<blockquote>
    <div class="font-weight-light h6">
        <i class="fab fa-linkedin"></i>
        <a href="https://www.linkedin.com/in/batiridismaxim">Maxim Batiridis</a>
    </div>
</blockquote>
